<style>
h1
{
  font-size:2em;
  color:#2c3e50;
}

#header 
{
	margin:0;
	text-align: center;
	padding:10px 0px 10px 0px;
}

    #header img 
    {
        max-width: 100%;
        height: auto;
    }

#img-padding
{
  margin-top: 1rem;
}
</style>

<div id="header">
  <img src="assets/img/goliath.jpg" width="750px" height="328px">

  <img id="img-padding" src="assets/img/david-v-goliath-minecraft.jpg">

  <img id="img-padding" src="assets/img/quote-Antonio-Banderas-expectation-is-the-mother-of-all-frustration.png">
</div>
<router-outlet></router-outlet>
